@import "../app.component";

footer{
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 3rem;
    padding: 1rem;
    background-color: $color5;
    display: flex;
    justify-content: space-around;
    text-align: center;
}