<div *ngIf="ent" class="update">
    <h1>Оновити інформацію</h1>
    <div class="doput">
        <input type="hidden" [(ngModel)]="ent.id">
        <div class="inputs">
            <div class="input">
                <input type="text" [(ngModel)]="ent.name" required class="input" value="ent.name">
                <label>Змініть назву</label>
            </div>
            <div class="input">
                <input type="text" [(ngModel)]="ent.img" required class="input" value="ent.img">
                <label>Змініть назву файлу</label>
            </div>
            <div class="input">
                <input type="text" [(ngModel)]="ent.type" required class="input" value="ent.type">
                <label>Введіть тип</label>
            </div>
            <div class="input">
                <input type="number" [(ngModel)]="ent.weight" required class="input" value="ent.weight">
                <label>Введіть вагу</label>
            </div>
        </div>
        <button (click)="updateEntity()" >Оновити</button>
    </div>
</div>
