@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700;900&display=swap');

$maincolor: #424756; 
$color2: #4d784e; 
$color3: #6ea171;
$color4: #e1d798; 
$color5: #675645;
$textcolor: #1a1c23;

$boxshadow: 2px 2px 10px 4px #0000007e;

*{
    font-family: 'Unbounded', cursive;
    font-weight: 300;
    color: $textcolor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    transition: all .2s linear;
    line-height: 1.5;
    h1, h2, h3{
        font-weight: bold;
    }
    img{
        width: 100%;
    }
}
