<section class="form">
    <h1>Форма</h1>

    <form class="doput">
        <div class="inputs">
            <div class="input-text">
                <input type="text" #name (keyup)="getName(name.value)" name="name" required class="input">
                <label>Введіть назву</label>
            </div>
            <div class="input-text">
                <input type="text" #img (keyup)="getImg(img.value)" name="img" required class="input">
                <label>Введіть назву файлу</label>
            </div>
            <div class="input-text">
                <input type="text" #type (keyup)="getType(type.value)" name="type" required class="input">
                <label>Введіть тип</label>
            </div>
            <form #w="ngForm" (keyup)="getWeight(w)">
                <div class="cell">      
                    <input type="number" name="weight" ngModel  required class="input">
                    <label>Введіть вагу</label>
                </div>
            </form>  
        </div>
        <button (click)="OnClick()" >DoPut</button>
    </form>
</section>
