<section class="items" id="items">
    <div class="items-container">
        <ul>
            <li *ngFor="let ent of EntityList">
                <img src="assets/{{ent.img}}" alt="">
                <h3 class="i-title"><span>Назва: </span>{{ent.name}}</h3>
                <div class="content">
                    <p class="i-type"><span>Тип:</span> {{ent.type}}</p>
                    <p class="i-type"><span>Вага:</span> {{ent.weight}} г</p>
                </div>             
            </li>
        </ul>
    </div>
</section>
