@import "../app.component";

.items{
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 3rem;
    background-color: $color4;
    min-height: 100vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 12vh;
    .items-container{
        min-height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1rem;
        ul{
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;
                margin: 1rem;
                flex: 0 1 20rem;
                box-shadow: $boxshadow;
                background-color: $color3;
                justify-content: space-between;
                border-radius: 0.5rem;
                width: 30%;
                h3{
                    background-color: $color4;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    span{
                        color: $textcolor;
                        background-color: $color5;
                        padding: 0.3rem;
                        border-radius: 0.5rem;
                        margin: 0.2rem;
                        font-weight: 900;
                    }
                }
                img{
                    margin-bottom: 0.7rem;
                    border-radius: 5%;
                    &:hover{
                        box-shadow: $boxshadow;
                        transform: scale(1.2);
                        border-radius: 20%;
                    }
                }
                .content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    p{
                        background-color: $color4;
                        padding: 0.3rem;
                        border-radius: 0.5rem;
                        margin: 0.2rem;
                        span{
                            font-weight: bolder;
                            color: $textcolor;
                            background-color: $color5;
                            padding: 0.3rem;
                            border-radius: 0.5rem;
                            margin: 0.2rem;
                        }
                    }
                }
            }
        }
    }
}