<section class="items" id="items">
    <h1>Гранати</h1>
    <div class="items-container">
        <div *ngFor="let ent of EntityList" class="item" >
            <img src="assets/{{ent.img}}.jpg" alt="">
            <h3 class="i-title"><span>Назва: </span>{{ent.name}}</h3>
            <div class="content">
                <p class="i-type"><span>Тип:</span> {{ent.type}}</p>
                <p class="i-type"><span>Вага:</span> {{ent.weight}} г</p>
            </div>
            <div class="buttons">
                <button (click)="onSelect(ent)" class="update-btn"> Оновити </button>   
                <button (click)="deleteEntity(ent)"class="delete-btn"> X </button>
            </div>
                      
        </div>
    </div>
</section>

<span id="update"></span>
<app-form [ent]="selectedEntity" (updated)="updateEntities()" ></app-form>

<section class="add">
    <h1 (click)="showAddForm=!showAddForm">Додати гранату</h1>
    <form *ngIf="showAddForm" #form1="ngForm" (ngSubmit)="addEntity(form1.value)">
        <div class="inputs">
            <input type="hidden" name="id" ngModel="-1">
            <div class="input">
                <input type="text" name="name" ngModel>
                <label>Введіть назву</label>
            </div>
            <div class="input">
                <input type="text" name="img" ngModel>
                <label>Введіть назву файлу</label>
            </div>
            <div class="input">
                <input type="text" name="type" ngModel>
                <label>Введіть тип</label>
            </div>
            <div class="input">
                <input type="number" name="weight" ngModel>
                <label>Введіть вагу</label>
            </div>
        </div>
        <input type="submit" value="Додати" class="add-button">
    </form>
</section>


